# Copyright 2016 The Fuchsia Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# See http://luci-config.appspot.com/schemas/projects/refs:cq.cfg for the
# documentation of this file format.

version: 1
cq_name: "jiri"
cq_status_url: "https://chromium-cq-status.appspot.com"

gerrit {}

verifiers {
  reviewer_lgtm {
     committer_list: "project-fuchsia-committers"
  }
  try_job {
    buckets {
      name: "fuchsia.jiri",
      builders {
        name: "Jiri Tester"
      }
    }
  }
  sign_cla {}
}
